---
---
body {
    background-color: darksalmon;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 36px;
}
h2 {
    font-size: 20px;
    font-weight: 600;
}
h3 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 2px;
}
a {
    color: inherit;
}