<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }} - FeatheredSaturn</title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet"> 
        
        <link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
    </head>
    <body>
        {{ content }}
    </body>
</html>