<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }} - FeatheredSaturn</title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet"> 
        
        <link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
    </head>
    <body>
        <h1>{{ page.title }}</h1>
        {% if page.author || page.source %}
        <p>
            Author:

            {% if page.author.url %}
            <a href="{{ page.author.url }}">{{ page.author.name }}</a>
            {% elsif page.author.name %}
            {{ page.author.name }}
            {% endif %}

            {% if page.author && page.source %}
            on
            {% endif %}
            
            {% if page.source.url %}
            <a href="{{ page.source.url }}">{{ page.source.name }}</a>
            {% elsif page.source.name %}
            {{ page.source.name }}
            {% endif %}
        </p>
        {% endif %}
        {{ content }}
    </body>
</html>